<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <distributable/>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.itcs.helpdesk.jsfcontrollers.util.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>
            org.primefaces.webapp.filter.FileUploadFilter
        </filter-class>
    </filter>
    <filter>
        <filter-name>Character Encoding Filter</filter-name>
        <filter-class>com.itcs.helpdesk.util.CharacterEncodingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ClientAgentDetectorFilter</filter-name>
        <filter-class>com.itcs.helpdesk.util.ClientAgentDetectorFilter</filter-class>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>/faces/script/login.xhtml</param-value>
        </init-param>
        <init-param>
            <param-name>mobileLoginPage</param-name>
            <param-value>/faces/mobile/login.xhtml</param-value>
        </init-param>
    </filter>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>TagListServlet</servlet-name>
        <servlet-class>com.itcs.helpdesk.webapputils.TagListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatRequestReceiverServlet</servlet-name>
        <servlet-class>com.itcs.helpdesk.webapputils.ChatRequestReceiverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailClienteListServlet</servlet-name>
        <servlet-class>com.itcs.helpdesk.webapputils.EmailClienteListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CKEditorUploadServlet</servlet-name>
        <servlet-class>com.itcs.helpdesk.webapputils.CKEditorUploadServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>CKEditorUploadServlet</servlet-name>
        <url-pattern>/ckeditor/uploadimage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CKEditorGetImageServlet</servlet-name>
        <servlet-class>com.itcs.helpdesk.webapputils.CKEditorGetImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CKEditorGetImageServlet</servlet-name>
        <url-pattern>/ckeditor/getimage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>com.itcs.helpdesk.webapputils.DownloadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>ClientAgentDetectorFilter</filter-name>
        <url-pattern>/faces/script/login.xhtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Character Encoding Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-name>ChatRequestReceiverServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/script/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <listener>
        <listener-class>com.itcs.helpdesk.webapputils.AppStarter</listener-class>
    </listener>
    <listener>
        <listener-class>com.itcs.helpdesk.webapputils.UserSessionListener</listener-class>
    </listener>
    
    <servlet-mapping>
        <servlet-name>TagListServlet</servlet-name>
        <url-pattern>/TagListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatRequestReceiverServlet</servlet-name>
        <url-pattern>/ChatRequestReceiverServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>EmailClienteListServlet</servlet-name>
        <url-pattern>/EmailClienteListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/DownloadFileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/faces/script/login.xhtml</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>faces/script/index.xhtml</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>#{UserSessionBean.theme}</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>6LfwZwoAAAAAAI-oUHpdvRnkMfu9fXQHxc0P7IBu</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>6LfwZwoAAAAAAEhRyntKF1PBzysAJLzqp2v-GMRR</param-value>
    </context-param>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/font-eot</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/font-ttf</mime-type>
    </mime-mapping>
</web-app>